<h2>Dashboard</h2>

<h3>Welcome username</h3>

<%= render :partial => 'message' %>

<h3>Recently happened</h3>

<ul id="activities">
  <% @recently_happened.each do | message | %>
  	<li><%= message.body %> by <%= link_to message.owner.username, message.owner %></li>
  <% end %>
</ul>

<h3>You are connected to:</h3>

<ul id="following">
  <li>username1</li>
  <li>username2</li>
  <li>username3</li>
</ul>

<h3>You are followed by:</h3>
<ul>
  <li>username4</li>
  <li>username3</li>
  <li>username2</li>
</ul>
