<p id="notice"><%= notice %></p>

<p>
Message by <%= link_to @message.owner.username, @message.owner, {"onclick" => "ga('send', 'event', 'button', 'user_show');return true;"} %>:
</p>

<%= @message.body %>

